layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane command="yazi" size="70%" name="Files"
    pane split_direction="horizontal" {
      pane command="composer" {
        name "Testing"
        args "test"
        start_suspended true
      }
      pane name="Git" 
      pane command="composer" {
        args "run" "dev"
        name "Server"
      }
    }
  }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
}
